AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_SESSION_TOKEN=
DATABASE_URL=postgres://user:password@ep-xxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
LAMBDA_FUNCTION_NAME=selenium-lambda
S3_BUCKET=comic-crawler
S3_PREFIX=crawler-test
MANGA_LIBRARY_TABLE=manga_library
MANGA_MANIFEST_TABLE=manga_manifest
BROWSE_URL=https://mangarw.com/browse
BROWSE_SORT=views_week
MAX_PAGES=1
WAIT_SEC=6
DOWNLOAD_INVOCATION_TYPE=Event
MAX_IMAGES_PER_CHAPTER=
NEXT_PUBLIC_S3_PUBLIC_BASE_URL=
