AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_SESSION_TOKEN=
LAMBDA_FUNCTION_NAME=selenium-lambda
S3_BUCKET=comic-crawler
S3_PREFIX=crawler-test
BROWSE_URL=https://mangarw.com/browse
BROWSE_SORT=views_week
MAX_PAGES=1
WAIT_SEC=6
LIBRARY_S3_KEY=crawler-test/links.json
DOWNLOAD_INVOCATION_TYPE=Event
MAX_IMAGES_PER_CHAPTER=
NEXT_PUBLIC_S3_PUBLIC_BASE_URL=
